.contain2 {
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    margin-left: 45rem;
    background-color: rgba(30, 144, 255, 0.3);
    width: 50rem;
    height: 33rem;
}

/*For Form Validation Error*/
input.inputerror,
textarea.inputerror {
    border-width: 3px;
    border-color: red;
}


.title {
    margin-top: 2rem;
    font-size: 3rem;
    margin-left: 20rem;
    font-weight: bolder;
    color: black;
}


.uname {
    flex-direction: row;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;

}

.pass {
    flex-direction: row;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
}

#buttons {
    flex-direction: row;
    margin-top: 2rem;
    font-size: 2rem;
    height: 4rem;
    width: 12rem;
    margin-left: 20rem;
}

#username {
    height: 4.5rem;
    font-size: 1.5rem;
}

#password {
    height: 4.5rem;
    font-size: 1.5rem;
}